venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/

alt_las_workflow.db # Ignore the SQLite database file
logs/ # Ignore log directory if created
.env # Ignore environment variables file

