node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
dist
build
logs
*.log
.env
*.env
.DS_Store
coverage
__pycache__
*.pyc
venv
.pytest_cache
.mypy_cache
htmlcov

# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
vendor/
